<!DOCTYPE html>

<style>
button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-family: verdana;
}

body {
  background-color: grey;
}

h1 {
  color: white;
  text-align: center;
  font-size: 26px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 22px;
}
</style>



<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Radio control</h1>
    <p align="center">
      Music status: {{ music_state }}<br>
      <form action="/run_radio/" method="post">
        <button name="runRadioBtn" type="submit">Run radio</button>
      </form>

      <form action="/run_source1/" method="post">
        <button name="runSource1Btn" type="submit">Run source1</button>
      </form>

      <form action="/stop_music/" method="post">
        <button name="stopMusicBtn" type="submit">Stop music</button>
      </form>
    </p>
  </body>
</html>
