<!DOCTYPE html>

<style>
button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  font-family: verdana;
}

body {
  background-color: grey;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 26px;
}
</style>


<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Volume control</h1>
    <p align="center">
      Music volume: {{ volume }}<br>
      <form action="/volume_up/" method="post">
        <button name="volumeUpBtn" type="submit">Vol++</button>
      </form>

      <form action="/volume_down/" method="post">
        <button name="volumeDownBtn" type="submit">Vol--</button>
      </form>
    </p>
    <h1>Radio control</h1>
    <p align="center">
      Music source: {{ source }}<br>
      Currently playing: {{ song_name }}<br>

      <form action="/stop_music/" method="post">
        <button name="stopMusicBtn" type="submit">Stop music</button>
      </form>

      {% for playlist_id in range(playlists| length) %}
      <form action="{{ url_for('run_playlist', playlist_id=playlist_id) }}" method="post">
        <button name="runPlaylistBtn" type="submit">- Run {{ playlists[playlist_id] }}</button>
      </form>
      {% endfor %}

      {% for radio_id in range(radio_stations| length) %}
      <form action="{{ url_for('run_radio', radio_id=radio_id) }}" method="post">
        <button name="runRadioBtn" type="submit">Run {{ radio_stations[radio_id][0] }}</button>
      </form>
      {% endfor %}
    </p>

  </body>
</html>
